@font-face {
    font-family: "RobotoMono";
    src:
        local("RobotoMono"),
        url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: regular;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "RobotoMono", monospace;
}

.emoji-avatar:hover {
    outline: 2px solid rgb(0, 112, 240);
}

#userAvatar {
    transition: transform 0.2s;
    transform: scale(1);
}

#userAvatar:hover {
    outline: 2px solid rgb(0, 112, 240);
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 100px;
    width: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
